.pytest_cache
.vscode
.DS_Store
src/DynGenModels.egg-info
data
results
__pycache__
experiment/__pycache__
notebook
src/__pycache__
test/__pycache__
src/models/__pycache__
src/DynGenModels/utils/__pycache__
src/DynGenModels/trainer/configs/__pycache__
test/architecture/__pycache__
src/DynGenModels/__pycache__
tests/tensorboard
tests/best_model.pt